#backBtn {
  position: absolute;
  top: 80vh;
  left: 25vw;
  width: 50vw;
}

#formContainer {
  position: absolute;
  top: 20vh;
  left: 25vw;
  background-color: whitesmoke;
  text-align: center;
}

#formContainer input,
textarea {
  width: 50vw;
  margin-left: 0.5em;
}

#formContainer p {
  margin-top: 1em;
}

#formContainer button {
  margin-bottom: 2em;
}
