#backBtn {
  position: absolute;
  top: 95vh;
  left: 25vw;
  width: 50vw;
}

#formContainer {
  position: absolute;
  top: 33vh;

  background-color: #0a1f22;
  text-align: center;
  color: #fffefe;
  opacity: 0.9;
  width: 100vw;
}

#formContainer input,
textarea {
  width: 50vw;
  margin-left: 0.5em;
}

#formContainer p {
  margin-top: 1em;
  font-size: 1.5em;
}

#formContainer button {
  margin-bottom: 2em;
}
