#indexBtnsContainer {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 50vh;

  top: 63vh;
}

#indexBtnsContainer > .btns {
  margin-left: 1.7em;

  width: 40vw;
  height: 15vh;
  font-size: 1.2;
}

#infoBtn {
  position: absolute;
  top: 80vh;
  width: 100vw;
}
