#info {
  color: #fffefe;
  text-align: center;
  background-color: #0a1f22;
  opacity: 0.8;
  width: 90vw;
  margin-left: 5vw;
}

h4 {
  margin: 1em 0 1em 0;
  font-style: italic;
}

#backBtn {
  margin-left: 40vw;
  margin-top: 1em;
}
