#setlistOutputContainer {
  position: absolute;
  top: 25vh;
  left: 17vw;
}

#setlistOutput {
  background-color: whitesmoke;
  opacity: 0.9;
  text-align: center;
  margin-bottom: 2em;
}

li {
  padding-bottom: 0.5em;
}

ul:first-child {
  padding-top: 0.4em;
}
