body {
  background-color: black;
}

#background {
  background-image: url("../images/stockPhoto1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 50%;
  width: 100vw;
  height: 100vh;
}

#dropBtn {
  position: absolute;
  width: 8vw;
  height: 5vh;
}

#indexBtnsContainer {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 50vh;

  top: 5vh;
  left: 25vw;
}

#indexBtnsContainer > .btns {
  margin-left: 2em;
  margin-top: 3em;
  width: 40vw;
  height: 15vh;
}

#dropBtn {
  top: 2em;
  left: 2em;
}

.btns {
  border-radius: 20px;
  width: 6em;
  height: 6em;
}
