body {
  background-color: #0a1f22;
  font-family: "Jazz LET";
}

header {
  padding-top: 1em;
  color: #fffefe;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 1.4em;
  font-style: oblique;
  font-size: large;
}

#background {
  background-image: url("../images/helsdeurLogo1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 40%;
  width: 100vw;
  height: 120vh;
}

.btns {
  border-radius: 20px;
  width: 6em;
  height: 6em;
  font-size: large;
}

#turnDevice {
  color: #fffefe;
  text-align: center;
  margin-top: 45vh;
}

@media only screen and (min-width: 700) {
  #turnDevice {
    display: block;
  }
  main {
    display: none;
  }
}

/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation: landscape) {
  #turnDevice {
    display: block;
  }
  main {
    display: none;
  }
}

/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation: portrait) and (max-width: 700px) {
  #turnDevice {
    display: none;
  }
  main {
    display: block;
  }
}

@media (max-width: 300px) {
  #turnDevice {
    display: block;
  }
  main {
    display: none;
  }
}

@media (min-width: 600px) {
  #turnDevice {
    display: block;
  }
  main {
    display: none;
  }
}
